*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
img{
    width: 100px;
    height: 100px;
}
html{
    font-size: 16px;
}
header .headersm {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .nav{
    display: flex;
    
}
.logo{
    margin-left: 24px;
    width: 72px;
    height: 19px;
}
.meore{
    padding-left: 30px;
}
.mesame{
    padding-left: 30px;
}
.meotxe{
    padding-left: 30px;
}
.mexute{
    padding-left: 30px;
}
.burger{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
 main .main1{
    text-align: center;
    margin-top: 32px;
}
.main1 p{
    margin-top: 24px;
}
.main1img{
    width: 100%;
    height: auto;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.main11{
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
}
.main111{
    margin-top: 22px;
}
.main11span{
    border-radius: 20px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    margin-top:24px ;
}
.headerspan{
    border-radius: 20px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    display: none;
    margin-right: 56px;
}
h1 img{
    width: 40px;
    height: 40px;
}
nav ul{
    display: none;
}
ul a{
    color: #000000;
}
section{
    text-align: center;
    background-color:#F3F3F3;
    padding: 24px;
}
section div{
    margin-top: 54px;
}
.main{
    background-color: #000000;
}
.section4 img{
    width: 100%;
    height: auto;
    margin: 10px;
}
.h1{
    color: white;
}
h4{
    color: white;
    padding: 2px;

}
    
.pr{
    padding-bottom: 14PX;
    color: white;
}
.mesame div{
    background-image: url(assets/image/img\ 4.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 500px; 
}
.mesame div h6{
    display: none;
}
footer{
    background-color:black;
}
.footer{
    display: flex; 
}

.footer h1{
    color: white;
    font-size: 18px;
    padding-bottom: 16px;
}
.img2{
    width: 100%;
    height: auto;
}

.footer p{
    color:white;
}
h5{
    color: white;
}
h6{
    color: white;
    font-size: 12px;
    padding: 5px;
}
.footer4{
    display: none;
}
.footer2{
    margin-left: 15px;
    margin-right: 15px;
}


@media only screen and (min-width: 376px){
   .burger{
    display: none;
   }
   .nav ul{
    display: flex;
    
   }
   .headerspan{
    display: inline;
   }
   .logo{
    width: 87px;
    height: 27px;
   }
  .foooter{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  .footer1{
    padding-left: 100px;
  }
  .footer2{
    padding-left: 100px;
    padding-right: 100px;
  }
  br{display: none;}
 
 

}
@media only screen and (min-width: 745px){
    section{
        display: flex;
        justify-content: space-between;
    }
    section div{
        text-align: left;
    }
    section h1{
        padding-bottom: 22px;
    }
    .section2{
        padding-left: 66px;
    }
    .section3{
       padding-left: 66px;
    }
    .section5{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .h1{
        width: 415px;
        height: 96px;
        font-size: 24px;
    }
    section p{
        width: 279px;
    }
    
}


@media only screen and (min-width:1025px){
    .main1{
        display: flex;
        align-items: center;
        justify-content: center;

       
    }
    .main1img{
        width: 490px;
        height: 428px;
        margin-left: 130px;
    }
    .main111{
        display: flex;
        align-items: center;
        
    }
    .main11{
        display: flex;
        flex-direction: column;
    }
    .main11 h1{
       font-size: 56px;
       width: 490px;
       height: 120px;
    }
    .main11 p{
        width: 490px;
        height: 56px;
        font-size: 18px;
    }
    .section4{
        display: flex;
        margin: 70px 100px;
        
    }
    .section5{
        display: block;
        margin-left: 150px;
        text-align: left;
    }
    .section4 img{
        width: 503px;
        height: 428px;
    }
    .mesame div{
        background-size: cover;
        background-image: url(assets/image/img44.png);
        width: 1440px;
        height: 566px;
        
    }
    .main111 p{
        width: 236px;  
    }
    .footer4{
        display: block;
        width: 228px;
        margin-right: 100px;
    }
     .footer {
        
        justify-content: space-between;
    }
    
 
}